.headline {
    text-align: center;
}

.headline__title {
    color: #292929;
    margin-bottom: rem(18px);

    @include tablets {
        margin-bottom: rem(11px);
    }
}

.headline__subtitle {
    padding: 0 20%;
    margin-bottom: rem(62px);
    font-size: rem(16px);
    line-height: rem(19px);

    @include tablets {
        padding: 0 12%;
        margin-bottom: rem(55px);
    }

    @include phones {
        padding: 0 5%;
    }
}