.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio__elem {
    display: none;
}

.radio__elem:checked ~ .radio__visible::before {
    display: block;
}

.radio__title {
    font-size: rem(16px);
    line-height: rem(19px);
}

.radio__visible {
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: rem(10px);

    &::before {
        content: "";
        width: rem(14px);
        height: rem(14px);
        background: #E01F3D;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &--checkbox {
        border-radius: 0;

        &::before {
            background: transparent;
            border-left: rem(3px) solid #E01F3D;
            border-bottom: rem(3px) solid #E01F3D;
            border-radius: 0;
            height: rem(4px);
            width: rem(10px);
            transform: translate(-50%, -50%) rotate(313deg);
        }
    }
}